@if(startBattle){
    <app-battle-screen 
        [game]="game"
        (changeEnemyMonster)="onNextEnemy()"
        (playerLost)="gameOver($event)"
    />
}
@else {
    <div class="game-start-screen">
        <div class="game-start-screen__content">
            <h1>Monster Battle Arena</h1>
            <app-display-stage [stage]="currentStage" />
            @if (lastScore) {
                <h1>Your last score was: {{ lastScore }}</h1>
            }
            <p>Prepare your monster and enter the ultimate battle arena!</p>
            <button (click)="onStartBattle()">Start Battle</button>
        </div>
        <div class="game-start-screen__monsters">
            @if (stages && monsters) {
                <app-pokemon-display
                  [monsters]="monsters" 
                  [maxPokemonSize]="'normal'"
                  [maxContainerWidth]="'90vw'"
                  [maxContainerHeight]="'65vh'"
                  [style]="'dark'"
                  (selectMonster)="playerSelectMonster($event)"
                  >

                </app-pokemon-display>
            }
        </div>
        <div class="game-start-screen__footer">
            <p>&copy; {{ currentYear }} Elie</p>
        </div>
    </div>
}


