@if(startBattle){
    <app-battle-screen [playerMonster]="playerMonster" [enemyMonster]="enemyMonster" ></app-battle-screen>
}
@else {
    <div class="game-start-screen">
        <div class="game-start-screen__content">
            <h1>Monster Battle Arena</h1>
            <p>Prepare your monster and enter the ultimate battle arena!</p>
            <button (click)="startBattle = true">Start Battle</button>
        </div>
        <div class="game-start-screen__footer">
            <p>&copy; {{ currentYear }} Elie</p>
        </div>
    </div>
}


