.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(81, 196, 130);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 60px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__logo span {
  font-size: 1.2rem;
  font-weight: bold;
}

.header__nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.header__nav li {
  position: relative;
}

.header__nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header__nav a:hover {
  color: #36f193;
}
