<div class="battle-screen__attack-options">
    @for (pokemonMove of monster.pokemonMoves; track pokemonMove.id) {
        <button
            (click)="monster.selectedUnlearnMove = pokemonMove;"
            [style.background]="calculateBg(pokemonMove.move.type.name)"
            [class.activated]="monster.selectedUnlearnMove?.id === pokemonMove.id">
            {{ pokemonMove.move.name }}
        </button>
    }
</div>
<div class="battle-screen__learn-options">
    <button 
        class="battle-screen__learn-options-learn" 
        [style.background]="calculateBg(monster.learnMovewaitList[0].move.type.name)"
    >
        <span>{{ monster.learnMovewaitList[0].move.name }}</span>
        <span>{{ monster.learnMovewaitList[0].move.power }} - {{ monster.learnMovewaitList[0].move.type.name }}</span> 
    </button>
</div>
<div class="battle-screen__learn-controls">
    <button
        class="battle-screen__learn-controls-attack"
        (click)="monster.learnMove(monster.selectedUnlearnMove)">
        Learn this move
    </button>
    <button
        class="battle-screen__learn-controls-attack"
        (click)="monster.learnMovewaitList.shift()">
        Don't learn this move
    </button>
</div>