@if(startBattle){
    <app-battle-screen 
        [game]="game"
        (changeEnemyMonster)="onNextEnemy()"
        (playerLost)="gameOver($event)"
    />
}
@else {
    <div class="game-start-screen">
        <div class="game-start-screen__content">
            <h1>The PokeDev Journey</h1>
            @if (game?.stage) {
                <app-display-stage [stage]="game.stage" />
            }
            @if (lastScore) {
                <h1>Your last score was: {{ lastScore }}</h1>
            }
            @if (apiDown) {
                <p class="game-start-screen__content-bio">Dû aux coûts d'hébergement d'une API et étant étudiant, je n'ai malheureusement pas pu continuer à héberger le serveur. 
                    <br> Je m'excuse pour la gêne que cela pourrait causer et je reste disponible pour toute question ou pour fournir le code source du projet si vous souhaitez l'explorer ou l'héberger vous-même.
                </p>

            } @else {
                <p class="game-start-screen__content-bio">I hope you can enjoy this game I made to test my knowledge as a Fullstack Developer!</p>
                @if (stages.length > 0 && monsters.length > 0) {
                    @if(playerMonsters.length === 0){
                        <button disabled>Select one or two pokemons</button>
                    }
                    @else {
                        <button (click)="onStartBattle()">Start Battle</button>
                    }
                }
                @else {
                    <button disabled>Game is still loading</button>
                    <p class="game-start-screen__content-time">The wait time can extend to 1 or 2 minutes.</p>
                }
            } 

        </div>
        <div class="game-start-screen__monsters">
            @if (stages.length > 0 && monsters.length > 0) {
                <h2>Selected pokemons ( Up to 2 )</h2>
                <app-pokemon-display
                  [monsters]="playerMonsters" 
                  [maxPokemonSize]="'small'"
                  [maxContainerWidth]="'50vw'"
                  [style]="'dark'"
                  (selectMonster)="playerUnselectMonster($event)"
                  ></app-pokemon-display>
                <app-pokemon-display
                  [monsters]="monsters" 
                  [maxPokemonSize]="'normal'"
                  [maxContainerWidth]="'90vw'"
                  [maxContainerHeight]="'65vh'"
                  [style]="'dark'"
                  (selectMonster)="playerSelectMonster($event)"
                  >

                </app-pokemon-display>
            }
        </div>
        <div class="game-start-screen__footer">
            <p>&copy; {{ currentYear }} - Elie Lajoinie</p>
        </div>
    </div>
}


