<div class="monster" [style]="{ border: borderColor, width: componentSize}"
    (mouseover)="showStats = true; updateMousePosition($event)" 
    (mouseout)="showStats = false"
    (mousemove)="updateMousePosition($event)"
>
    <img class="monster__image" 
        [src]="monsterImage" 
        [alt]="monster.name.toLowerCase()"
        [style]="{ width: imageSize, height: imageSize }"
    >
    @if(size != 'small') {
        <div class="monster__info">
            <div class="monster__info-infos">
                <p>Lvl: {{ monster.level }} 
                    @if (monster.effect) {<span class="monster__info-effect" [style.background]="calculateBg(monster.effect.name)">{{ monster.effect.name }}</span>}
                </p>
                <p>HP: {{ monster.hp }} / {{ monster.maxHp }}</p>
            </div>
                <div class="monster__hp-bar-container">
                    <div class="monster__hp-bar" [style]="{width: healthBarClass, background: healthColor }"></div>
                </div>
                <div class="monster__exp-bar-container">
                    <div class="monster__exp-bar" [style]="{width: expBarClass, background: expColor}"></div>
                </div>
            
            
        </div>
    }
    <div class="monster__details" 
        [class.visible]="showStats && detailsType"
        [class.hidden]="!showStats || !detailsType"
        [style.left.px]="mouseX"
        [style.top.px]="mouseY"
    >
    <h2 class="monster__name" [style.font-size]="nameSize">{{ monster.name }}</h2>
    @if (detailsType === 'stats') {
        <div class="monster__stats">
            <div class="monster__types">
                @for (type of monster.types; track type.id) {
                    <span class="monster__type" [style.background]="calculateBg(type.name)">{{ type.name }}</span>
                }
            </div>
            <div class="monster__stat" [style.font-size]="statSize">
                <span>Attack:</span> <span>{{ statsType === 'current' ? monster.attack : monster.baseAttack }}</span>
            </div>
            
            <div class="monster__stat" [style.font-size]="statSize">
                <span>Defense:</span> <span>{{ statsType === 'current' ? monster.defense : monster.baseDefense }}</span>
            </div>

            <div class="monster__stat" [style.font-size]="statSize">
                <span>Special Attack:</span> <span>{{ statsType === 'current' ? monster.specialAttack : monster.baseSpecialAttack }}</span>
            </div>

            <div class="monster__stat" [style.font-size]="statSize">
                <span>Special Defense:</span> <span>{{ statsType === 'current' ? monster.specialDefense : monster.baseSpecialDefense }}</span>

            </div>

            <div class="monster__stat" [style.font-size]="statSize">
                <span>Speed:</span> <span>{{ statsType === 'current' ? monster.speed : monster.baseSpeed }}</span>
            </div>
        </div>
        }
    @else if (detailsType === 'stage') {
        <div class="monster__stats">
            <div class="monster__types">
                @if (!monster.stages.length) {
                    <span class="monster__type" [style.background]="calculateBg()">None</span>
                }
                @else{
                    @for (stage of monster.stages; track stage.id) {
                        <span class="monster__type" [style.background]="calculateBg(stage.name)">{{ stage.name }}</span>
                    }
                }
            </div>
        </div>
    }
    @else if (detailsType === 'moves') {
        <div class="monster__stats">
            <div class="monster__types">
                @if (!monster.learnset.length) {
                    <span class="monster__type" [style.background]="calculateBg()">None</span>
                }
                @else{
                    @for (pokemonMove of monster.learnset; track pokemonMove.id) {
                        <span class="monster__type" [style.background]="calculateBg(pokemonMove.move.type.name)">{{ pokemonMove.move.name }} - {{ pokemonMove.level }}</span>
                    }
                }
            </div>
        </div>
    }
    </div>
</div>