$shadow-light: rgba(0, 0, 0, 0.5);
$shadow-dark: rgba(0, 0, 0, 0.7);
$bg-dark: rgba(0, 0, 0, 0.7);
$bg-light: rgba(0, 0, 0, 0.8);
$border-radius: 10px;
$transition-speed: 0.3s;
$text-shadow: 2px 2px 2px $shadow-dark;

.monster {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $bg-dark;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    color: #fff;
    box-shadow: 0 8px 16px $shadow-light;
    font-family: 'Arial', sans-serif;
    transition: $transition-speed ease;

    &__image {
        margin-bottom: 15px;
        border-radius: $border-radius;
        z-index: 2;
        object-fit: contain;
    }

    &__info {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 10px;
        &-infos {
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            margin-bottom: 5px;
        }
        &-effect {
            padding: 3px 10px;
            border-radius: $border-radius;
            font-size: 0.8rem;
            text-transform: capitalize;
            text-shadow: $text-shadow;
        }
    }

    &__details {
        opacity: 0;
        visibility: hidden;
        transition: opacity $transition-speed ease, visibility $transition-speed ease;

    }

    &__hp-bar-container,
    &__exp-bar-container {
        min-width: 70px;
        transition: opacity $transition-speed ease, visibility $transition-speed ease;
    }

    &__details {
        position: absolute;
        background: $bg-light;
        padding: 10px;
        border-radius: $border-radius;
        z-index: 10;
        pointer-events: none;
        transform: translate(-50%);
        max-width: 600px;
    }

    &__name {
        font-weight: bold;
        text-shadow: 2px 2px 5px $shadow-dark;
    }

    &__stats {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__stat {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span:first-child {
                font-weight: bold;
            }
        }
    }

    &__hp-bar-container,
    &__exp-bar-container {
        min-width: 100px;
        width: 100%;
        height: 8px;
        background: #333;
        border-radius: 4px;
        overflow: hidden;
        margin-top: 5px;
        box-shadow: inset 0 2px 4px $shadow-light;
    }

    &__hp-bar,
    &__exp-bar {
        height: 100%;
        transition: width 0.5s ease-in-out;
        
    }

    &__types {
        display: flex;
        gap: 5px;
        margin-top: 10px;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        max-width: 600px;
    }

    &__type {
        padding: 5px 10px;
        border-radius: $border-radius;
        font-size: 0.8rem;
        text-transform: capitalize;
        text-shadow: $text-shadow;
    }

    &__details.visible,
    &__hp-bar-container.visible,
    &__exp-bar-container.visible {
        opacity: 1;
        visibility: visible;
        min-width: 50px;
    }

    &__details.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    .monster_info {
        font-size: 8px;
        margin-bottom: 7px;
        &-infos {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }
        &-effect {
            padding: 2px 8px;
            border-radius: $border-radius;
            text-transform: capitalize;
            text-shadow: $text-shadow;
        }
    }
}