<div class="admin-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>Admin Panel</h2>
    <nav>
      <ul>
        <li><a href="#addMove">Add Move</a></li>
        <li><a href="#addPokemon">Add Pokémon</a></li>
      </ul>
    </nav>
  </aside>

  <main class="content">
    <button class="toggle-form" (click)="toggleForm('post')">
        @if(postForms) { <span>⮝</span> }
        @if(!postForms) { <span >⮟</span> }
    </button>
    @if (postForms) {
    <div class="content">
      <section id="addMove" class="form-section">
        <h1>Add Move</h1>
        <form [formGroup]="addMoveForm" (submit)="addMove()">
          <div>
            <label for="moveName">Move Name</label>
            <input type="text" id="moveName" formControlName="moveName">
          </div>

          <div>
            <label for="power">Power</label>
            <input type="number" id="power" formControlName="power">
          </div>

          <div>
            <label for="accuracy">Accuracy</label>
            <input type="number" id="accuracy" formControlName="accuracy">
          </div>

          <div>
            <label for="type">Type</label>
            <select name="type" id="type" formControlName="type">
              @for (type of types; track type.id) {
                <option value="{{type.name}}" [style.color]="calculateBg(type.name)">{{type.name}}</option>}
            </select>
          </div>

          <div>
            <label for="category">Category</label>
              <select name="category" id="category" formControlName="category">
                @for (category of categories; track category.id) {
                <option value="{{category.name}}" [style.color]="calculateBg(category.name)">{{category.name}}</option>}
              </select>
          </div>

          <div>
            <label for="effect">Effect</label>
            <select name="effect" id="effect" formControlName="effect">
              @for (effect of effects; track effect.id) {
                <option value="{{effect.name}}">{{effect.name}}</option>}
            </select>
          </div>

          <div>
              <label for="effectChance">Effect Chance</label>
              <input type="number" id="effectChance" formControlName="odds">
          </div>

          <button type="submit" [disabled]="addMoveForm.invalid">Add Move</button>
        </form>
      </section>

      <section id="addPokemon" class="form-section">
        <h1>Add Pokémon</h1>
        <form [formGroup]="addPokemonForm" (ngSubmit)="addPokemon()">
          <div>
            <label for="pokemonName">Name</label>
            <input type="text" id="pokemonName" formControlName="pokemonName">
            @if (addPokemonForm.get('pokemonName')?.invalid && addPokemonForm.get('pokemonName')?.touched) {
              <span>
                Name is required and must be at least 3 characters.
              </span>
            }
          </div>

          <div>
            <label for="hp">HP</label>
            <input type="number" id="hp" formControlName="hp">
          </div>

          <div>
            <label for="attack">Attack</label>
            <input type="number" id="attack" formControlName="attack">
          </div>

          <div>
            <label for="defense">Defense</label>
            <input type="number" id="defense" formControlName="defense">
          </div>

          <div>
            <label for="specialAttack">Special Attack</label>
            <input type="number" id="specialAttack" formControlName="specialAttack">
          </div>

          <div>
            <label for="specialDefense">Special Defense</label>
            <input type="number" id="specialDefense" formControlName="specialDefense">
          </div>

          <div>
            <label for="speed">Speed</label>
            <input type="number" id="speed" formControlName="speed">
          </div>

          <div>
            <label for="expRate">Exp Rate</label>
            <input type="number" id="expRate" formControlName="expRate">
          </div>

          <div>
            <label for="catchRate">Catch Rate</label>
            <input type="number" id="catchRate" formControlName="catchRate">
          </div>

          <div>
            <label for="type1">Type 1</label>
            <select id="type1" formControlName="type1">
              @for (type of types; track type.id) {
                <option value="{{type.name}}" [style.color]="calculateBg(type.name)">{{type.name}}</option>}
            </select>
          </div>

          <div>
            <label for="type2">Type 2 (Optional)</label>
            <select id="type2" formControlName="type2">
              <option value="">None</option>
              @for (type of types; track type.id) {
                <option value="{{type.name}}" [style.color]="calculateBg(type.name)">{{type.name}}</option>}
            </select>
          </div>

          <button type="submit" [disabled]="addPokemonForm.invalid">Submit</button>
        </form>
      </section>
      @if (createdPokemon) { <app-monster [monster]="createdPokemon"></app-monster> }

      <section id="addAttack" class="form-section">
        <h1>Add Attack to Pokémon</h1>
        <form [formGroup]="addAttackForm" (ngSubmit)="addAttack()">
          <app-pokemon-display
                  [monsters]="monsters" 
                  [maxPokemonSize]="'small'"
                  [maxContainerWidth]="'100%'"
                  [maxContainerHeight]="'400px'"
                  [detailsType]="'moves'"
                  (selectMonster)="updateAddAttackForm($event)"
                ></app-pokemon-display>

          <div>
            <label for="move">Select Move</label>
            <select id="move" formControlName="move">
              @for (move of moves; track move.id) {
                <option value="{{move.name}}">
                  {{ move.name }}
                </option>}
            </select>
          </div>

          <div>
            <label for="level">Learning Level</label>
            <input
              type="number"
              id="level"
              formControlName="level"
              placeholder="Enter level (e.g., 5)"
            />
          </div>

          <button type="submit" [disabled]="addAttackForm.invalid">Add Attack</button>
        </form>
      </section>
    </div>
    }
    <button class="toggle-form" (click)="toggleForm('put')">
        @if(putForms) { <span>⮝</span> }
        @if(!putForms) { <span >⮟</span> }
    </button>
      @if (putForms) {
          <div class="content">
            <section id="updateMove" class="form-section">
              <h1>Update Move</h1>
              <form [formGroup]="changeMoveForm" (submit)="changeMove()">
                <select id="move" formControlName="move" (click)="updateChangeMoveForm()">
                  @for(move of moves; track move.id) {
                    <option value="{{move.id}}" (click)="updateChangeMoveForm()">{{move.name}}</option>
                  }
                </select>
                <div>
                  <label for="moveNameUpdate">Move Name</label>
                  <input type="text" id="moveNameUpdate" formControlName="moveName">
                </div>

                <div>
                  <label for="powerUpdate">Power</label>
                  <input type="number" id="powerUpdate" formControlName="power">
                </div>

                <div>
                  <label for="accuracyUpdate">Accuracy</label>
                  <input type="number" id="accuracyUpdate" formControlName="accuracy">
                </div>

                <div>
                  <label for="typeUpdate">Type</label>
                  <select name="type" id="typeUpdate" formControlName="type">
                    @for (type of types; track type.id) {
                      <option value="{{type.name}}" [style.color]="calculateBg(type.name)">{{type.name}}</option>}
                  </select>
                </div>

                <div>
                  <label for="categoryUpdate">Category</label>
                  <select name="category" id="categoryUpdate" formControlName="category">
                    @for (category of categories; track category.id) {
                      <option value="{{category.name}}" [style.color]="calculateBg(category.name)">{{category.name}}</option>}
                  </select>
                </div>

                <div>
                  <label for="effect">Effect</label>
                  <select name="effect" id="effectUpdate" formControlName="effect">
                    @for (effect of effects; track effect.id) {
                      <option value="{{effect.name}}">{{effect.name}}</option>}
                  </select>
                </div>

                <div>
                  <label for="effectChance">Effect Chance</label>
                  <input type="number" id="effectChance" formControlName="odds">
                </div>

                <button type="submit" [disabled]="changeMoveForm.invalid">Update Move</button>
              </form>
            </section>

            <section id="updatePokemon" class="form-section">
              <h1>Update Pokémon</h1>
              <form [formGroup]="changePokemonForm" (ngSubmit)="changePokemon()">
                <app-pokemon-display
                  [monsters]="monsters" 
                  [maxPokemonSize]="'small'"
                  [maxContainerWidth]="'100%'"
                  [maxContainerHeight]="'400px'"
                  (selectMonster)="updateChangePokemonForm($event)"
                ></app-pokemon-display>
                <div>
                  <label for="pokemonNameUpdate">Name</label>
                  <input type="text" id="pokemonNameUpdate" formControlName="pokemonName">
                  @if (changePokemonForm.get('pokemonName')?.invalid && changePokemonForm.get('pokemonName')?.touched) {
                    <span>
                      Name is required and must be at least 3 characters.
                    </span>
                  }
                </div>

                <div>
                  <label for="hpUpdate">HP</label>
                  <input type="number" id="hpUpdate" formControlName="hp">
                </div>

                <div>
                  <label for="attackUpdate">Attack</label>
                  <input type="number" id="attackUpdate" formControlName="attack">
                </div>

                <div>
                  <label for="defenseUpdate">Defense</label>
                  <input type="number" id="defenseUpdate" formControlName="defense">
                </div>

                <div>
                  <label for="specialAttackUpdate">Special Attack</label>
                  <input type="number" id="specialAttackUpdate" formControlName="specialAttack">
                </div>

                <div>
                  <label for="specialDefenseUpdate">Special Defense</label>
                  <input type="number" id="specialDefenseUpdate" formControlName="specialDefense">
                </div>

                <div>
                  <label for="speedUpdate">Speed</label>
                  <input type="number" id="speedUpdate" formControlName="speed">
                </div>

                <div>
                  <label for="expRateUpdate">Exp Rate</label>
                  <input type="number" id="expRateUpdate" formControlName="expRate">
                </div>

                <div>
                  <label for="catchRateUpdate">Catch Rate</label>
                  <input type="number" id="catchRateUpdate" formControlName="catchRate">
                </div>

                <div>
                  <label for="type1Update">Type 1</label>
                  <select id="type1Update" formControlName="type1">
                    @for (type of types; track type.id) {
                      <option value="{{type.name}}" [style.color]="calculateBg(type.name)">{{type.name}}</option>}
                  </select>
                </div>

                <div>
                  <label for="type2Update">Type 2 (Optional)</label>
                  <select id="type2Update" formControlName="type2">
                    <option value="">None</option>
                    @for (type of types; track type.id) {
                      <option value="{{type.name}}" [style.color]="calculateBg(type.name)">{{type.name}}</option>}
                  </select>
                </div>

                <button type="submit" [disabled]="changePokemonForm.invalid">Update Pokémon</button>
              </form>
            </section>

            <section id="updateStages" class="form-section">
              <h1>Update Pokemon Stages</h1>
              <form [formGroup]="addPokemonStageForm" (submit)="addPokemonStage()">
                <app-pokemon-display
                  [monsters]="monsters" 
                  [maxPokemonSize]="'small'"
                  [maxContainerWidth]="'100%'"
                  [maxContainerHeight]="'400px'"
                  [detailsType]="'stage'"
                  (selectMonster)="selectedPokemonStage = $event"
                ></app-pokemon-display>
                <select id="stage" formControlName="stage" (click)="updateChangeMoveForm()">
                  @for(stage of stages; track stage.id) {
                    <option value="{{stage.id}}" class="select-option" (click)="updateChangeMoveForm()" [style.color]="calculateBg(stage.name)">{{stage.name}}</option>
                  }
                </select>
                <button type="submit" [disabled]="addPokemonStageForm.invalid || !selectedPokemonStage">Update Move</button>
              </form>
            </section>
          </div>
        }
  </main>
</div>
