<div class="battle">
    <div class="battle-screen">
        <div class="battle-screen__header">
            <h2>
                <span class="player">{{ game.playerMonster.name }}</span>
                VS
                <span class="enemy">{{ game.enemyMonster.name }}</span>
            </h2>
            <app-display-stage [stage]="game.stage"></app-display-stage>

        </div>
        <div class="battle-screen__monsters">
            <div class="battle-screen__player">
                <app-monster
                    [monster]="game.playerMonster"
                    [active]="true">
                </app-monster>
            </div>
            <div class="battle-screen__enemy">
                <app-monster
                    [monster]="game.enemyMonster"
                    [active]="true"
                    [isPlayer]="false">
                </app-monster>
            </div>
        </div>
        <div class="battle-screen__inputs">
            @if (game.playerMonster.learnMovewaitList.length > 0) {
                    <div class="battle-screen__attack-options">
                        @for (pokemonMove of game.playerMonster.pokemonMoves; track pokemonMove.id) {
                            <button
                                (click)="game.forgetMoveSelected = pokemonMove;"
                                [style.background]="calculateBg(pokemonMove.move.type.name)"
                                [class.activated]="game.forgetMoveSelected?.id === pokemonMove.id">
                                {{ pokemonMove.move.name }}
                            </button>
                        }
                    </div>

                    <div class="battle-screen__learn-options">
                        <button 
                            class="battle-screen__learn-options-learn" 
                            [style.background]="calculateBg(game.playerMonster.learnMovewaitList[0].move.type.name)"
                        >
                            <span>{{ game.playerMonster.learnMovewaitList[0].move.name }}</span>
                            <span>{{ game.playerMonster.learnMovewaitList[0].move.power }} - {{ game.playerMonster.learnMovewaitList[0].move.type.name }}</span> 
                        </button>
                    </div>

                    <div class="battle-screen__learn-controls">
                        <button
                            class="battle-screen__learn-controls-attack"
                            (click)="game.playerMonster.learnMove(game.forgetMoveSelected)">
                            Learn this move
                        </button>

                        <button
                            class="battle-screen__learn-controls-attack"
                            (click)="game.playerMonster.learnMovewaitList.shift()">
                            Don't learn this move
                        </button>
                    </div>
                }
            @else if (game.playerMonster.canEvolve) {
                <div class="battle-screen__attack-options">
                        <button
                            (click)="game.evolveMonster(game.playerMonster);"
                            [style.background]="calculateBg(game.playerMonster.types[0].name)">
                            Evovle {{ game.playerMonster.name }}
                        </button>
                        <button
                            (click)="game.playerMonster.canEvolve = false;"
                            [style.background]="'#ff4e4e'">
                            Cancel evolution
                        </button>
                </div>
            }
            <div class="battle-screen__actions">
                
                @if (!game.playerAction && game.dialogues.length === 0 && game.playerMonster.learnMovewaitList.length === 0 && !game.playerMonster.canEvolve) {
                    <button class="battle-screen__actions-attack" (click)="game.setAction(game.ActionType.SelectAttack)">Attack</button>
                    <button class="battle-screen__actions-item" (click)="game.setAction(game.ActionType.SelectItemType)">Item</button>
                    <button class="battle-screen__actions-swap" (click)="game.setAction(game.ActionType.SelectSwap)">Swap</button>
                    <button class="battle-screen__actions-run" (click)="game.setAction(game.ActionType.Run)">Run</button>
                }
                
                @if (game.playerAction === game.ActionType.SelectAttack) {
                    <div class="battle-screen__attack-options">
                        @for (pokemonMove of game.playerMonster.pokemonMoves; track pokemonMove.id) {
                            <button
                                class="battle-screen__attack-options-attack"
                                (click)="game.playerSelectedAttack = pokemonMove.move; game.setAction(game.ActionType.Attack)"
                                [style.background]="calculateBg(pokemonMove.move.type.name)">
                                <span>{{ pokemonMove.move.name }}</span>
                                <span>{{ pokemonMove.move.power }} - {{ pokemonMove.move.type.name }}</span>
                            </button>
                        }
                    </div>
                }
                @else if (game.playerAction === game.ActionType.SelectItemType) {
                    <div class="battle-screen__item-options">
                        <button (click)="game.chooseItemType('pokeball')">Pokeballs</button>
                        <button (click)="game.chooseItemType('heal')">Healing Items</button>
                    </div>
                }
                @else if (game.playerAction === game.ActionType.SelectItem) {
                    <div class="battle-screen__item-options">
                        @for (item of game.playerSelectedBag; track item.id) {
                            <button
                                (click)="game.playerSelectItem(item)"
                                [style.background]="calculateBg('normal')">
                                {{ item.name }}
                            </button>
                        }
                    </div>
                }
                @else if (game.playerAction === game.ActionType.SelectSwap) {
                    <div class="battle-screen__swap-options">
                        @for (monster of game.player.monsters; track monster.id) {
                            @if (monster.hp > 0 && monster.id !== game.playerMonster.id) {
                                <button
                                    (click)="game.playerSelectedMonster = monster; game.setAction(game.ActionType.Swap)"
                                    [style.background]="calculateBg(monster.types[0].name)">
                                    <img [src]="'https://img.pokemondb.net/sprites/black-white/normal/'+monster.name.toLowerCase()+'.png'">
                                    <span>{{ monster.name }}</span>
                                </button>
                            }
                            @else {
                                <button disabled>
                                    <img [src]="'https://img.pokemondb.net/sprites/black-white/normal/'+monster.name.toLowerCase()+'.png'">
                                    <span>{{ monster.name }}</span>
                                </button>
                            }
                        }
                    </div>
                }
            </div>
            
            @if (game.playerAction && game.turnEnded) {
                <button class="battle-screen__cancel" (click)="game.playerAction = null">Cancel</button>
            }
            
            <div class="battle-screen__log">
                <app-dialogue
                    [dialogues]="game.dialogues"
                    (next)="game.dialogues = $event">
                </app-dialogue>
            </div>
            
            
        </div>
        
        <div class="battle-screen__status">
            @if (game.playerMonster.hp <= 0) {
                <h2>Game Over</h2>
            } @else if (game.enemyMonster.hp <= 0) {
                <h2>Victory</h2>
            }
        </div>
    </div>
    @if (game.shopOpen) {
        <app-shop [player]="game.player" [balls]="game.balls" [hItems]="game.hItems"></app-shop>            
    }
</div>
